<!DOCTYPE html>
<html ng-app="fireApp">
	<head>
		<meta charset=utf-8 />
		<meta name="viewport" content="width=device-width,initial-scale=1.0"/>
		<title>My Angularfire Project</title>
<!--Jquery-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<!--Angular minified-->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<!-- Firebase -->
		<script src="https://www.gstatic.com/firebasejs/3.2.0/firebase.js"></script>

<!-- AngularFire -->
		<script src="https://cdn.firebase.com/libs/angularfire/2.0.1/angularfire.min.js"></script>
<!--	Angular Route-->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js"></script>
		<link rel="stylesheet" href="app.css">
	</head>
	<body ng-controller="fireCtrl">
<!-- navigation bar-->
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="https://firebase.google.com/">Firebase</a>
				</div>
				<ul class="nav navbar-nav">
					<li><a href="#/anonym">Anonymous</a></li>
					<li><a href="#/email">Email/Password</a></li>
					<li><a href="#">Custom Authentication</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true">Google <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#/google">Popup</a></li>
                            <li><a href="#/google">Redirect</a></li>
                        	<li><a href="#/google">OAuth Credentials</a></li>
                        </ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true">Facebook <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#/facebook">Popup</a></li>
                            <li><a href="#/facebook">Redirect</a></li>
                        	<li><a href="#/facebook">OAuth Credentials</a></li>
                        </ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true">Twitter <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#/twitter">Popup</a></li>
                            <li><a href="#/twitter">Redirect</a></li>
                        </ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true">Github <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#/github">Popup</a></li>
                            <li><a href="#/github">Redirect</a></li>	
                        </ul>
					</li>
					<li><a href="#/database">Database</a></li>
				</ul>
			</div>
		</nav>
		<div class="">
			<div class="jumbotron">
                <div class="container">
				<h1>Firebase</h1>
				<p>Firebase is a cloud services provider and backend as a service company based in San Francisco, California. The company makes a number of products for software developers building mobile or web applications. Firebase was founded in 2011 by Andrew Lee and James Tamplin and launched with a realtime cloud database in April 2012. Firebase's primary product is a realtime database which provides an API that allows developers to store and sync data across multiple clients. The company was acquired by Google in October 2014.</p>
                    </div>
			</div>
		</div>
		<div class="container center-block">
			<div ng-view></div>
		</div>
		<hr>
<!--retrieves current authenticated user	-->
		<div class="container">
			<pre><code>{{jason}}</code></pre>
			<div >
			<button class="btn btn-primary btn-lg" ng-if="user" ng-click="authFire.$signOut()" >Sign Out</button>
			</div>
		</div>

		<script src="app.js"></script>
		<script src="anonymous/anon.js"></script>
		<script src="emailpass/emailpass.js"></script>
		<script src="google/google.js"></script>
		<script src="facebook/facebook.js"></script>
		<script src="twitter/twitter.js"></script>
		<script src="github/github.js"></script>
		<script src="database/database.js"></script>
	
	</body>


</html>